/* link work sans google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,600&display=swap');
/* shared style */

* {
    font-family: 'Work Sans', sans-serif;
}

.button-primary {
    color: #FFF;
    background-color: #FF900E;
    padding: 20px 24px;
    border-radius: 10px;
    border: 0;
    font-size: 1.25rem;
    cursor: pointer;

}


/* header section style */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-tittle {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    padding-right: 1rem;
}

/* banner section */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}

.banner-tittle {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main section style */

main {
    max-width: 1440px;
    margin: 70px auto;
}

.team-container {
    display: flex;
    align-items: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.team-content {
    padding-left: 75px;
    padding-right: 75px;

}

.teams-tittle {
    font-size: 2.8rem;
}

.teams-tittle .quick {
    font-weight: 500;
    color: #727272;
}

.teams-tittle .our {
    color: #131313;
    font-weight: 700;
}

.teams-tittle .features {
    color: #FF900E;
    font-weight: 700;
}

/* fact section */
.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;

}

.facts-card-container {
    display: flex;
    justify-content: space-around;

}

.facts-card-container .card {
    padding: 30px;
}

.facts-card-container .card-tittle {
    font-size: 45px;
    font-weight: 600;
    margin-top: 5px;
}

.facts-tittle {
    color: #131313;
    font-size: 2.8rem;
}

.facts-description {
    color: #727272;
    font-size: 1rem;
}

/* features section */
.features {
    display: flex;
    margin-top: 140px;
    gap: 40px;
}
.features-image img{
    height: 90%;
    margin-left: 50px;
}

.features-tittle {
    color: #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.features .features-description {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.features .features-section-item {

    margin-top: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
/* box style */

.tenyears-experience {
    padding: 30px;
    border-radius: 8px;
    background: #FF900E;
    width: 300px;
    height: 150px;
    position: relative;
   bottom: 10%;
    


}

.tenyears-experience h1 {
    color: #FFF;
    margin: 0;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
}

.tenyears-experience p {
    color: #FFF;
    margin-top: 0%;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

/* sponsor section */
.sponsor {
    text-align: center;
}

.sponsor-tittle {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.sponsor-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}

.sponsor-img-container img {

    width: 165.833px;
}






/* responsive for mobile */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .features,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .facts-card-container,
    .team-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
    .features-image img{
        width: 90%;
        margin-left: 0;
    }

    .tenyears-experience{
        position: static;
        max-width: 260px;
    }


}

/* responsive for tablet */
@media screen and (min-width: 576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: repeat(2, 1fr);
    }
}